
body {
background-color: lightgray;
  margin-left:2%;
  margin-right : 2%;
}

.dashboard {
 
  max-width : 160px;
  padding-top:4%;
}

.dashboard div {
  margin-bottom : 20px;
}

.dashboard i {
 margin-right :5px;
}

.dashboard :hover {
  color : white;
  background-color: lightcoral;
}

.dashLink {
  color :lightcoral;
  text-decoration : none;
  font-size : 22px;
  font-weight :900;
}

.registerBody, .serviceBody, .serviceDetailBody {
  display : flex;

}

.register {

  height : 100%;

}
.register .head, .register .body {
  display : flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  padding-left:1%;
  padding-right:1%;
  padding-top:0;
  padding-bottom:0;
  background-color: lightgray;

  background-color : snow;
  height:100%;
}

.register .head {
  background-color:lightcoral
}

.head h3, .body p {
  min-width :140px;
}

.body  {
  border-bottom:2px solid grey;
}

.body p {
  
}

.top {
  display : flex;
  flex-direction:row;
  justify-content: space-between;
  align-items : center
}

.top h4 {
  font-size :32px;
}
.top button {
  height : 70px;
  width : 130px;
}

.top i {
  font-size:32px;
}

.top button {
  display : flex;
  align-items: center;
  justify-content: space-evenly;
  font-size : 19px;
  color : lightcoral;
  background-color : lightgray;
  border : none 
}



.addRegister {
  border : 1px solid red;
  background-color : white;
  padding-top:5%;
  border-radius :30px;
  width :110%;
  margin-left:10%;
  padding:2%;
  height :400px
}

.addRegister .heading{
  display : flex;
  justify-content: space-between;
}

.ptnDet {
  color : white;
  background-color : lightcoral;
  margin-right :50px;
}

.regInput .one, .regInput .two, .regInput .three {
  display : flex;
  justify-content: space-between;
}

.regInput {
  display : flex;
  flex-direction:  column;
  justify-content: space-between;
}

.addRegister input {
  width : 400px;
  margin-bottom : 40px;
  border : none;
  border-bottom : 1px solid grey;
  height : 30px;
  font-size : 17px;
}

.addRegister input :focus {
  border : none;
}

.submit {
  display: flex;
  justify-content: space-between;
}
.submit button {
  width :100px;
  height : 50px;
  background-color: plum;
  border : none;
  color : white;
}
.submit i {
  font-size :30px;
}

.services-dropdown {
  border :1px solid gray;
  margin-bottom : 5px;
  display : flex;
  flex-direction : row;
  margin-top : 0;
  padding :0;
}

.services-dropdown button {
  margin-right :2px;
}
.three button {
  width : 70px;
  height :33px;
}

.three input {
  width : 330px;
}

.services {
  display : flex;
  align-items: center;
}

.services button {
  height :33px;
  margin-left :3px;
}

.services_display  {
  border : 1px solid grey;
  height: 50px;
  width :330px;
  display : flex;
  align-items: center;
  padding:5px;
}

.registeredService  {
  border-radius :5px;
  display : flex;
  align-items : center;
  background-color : plum;
  height : 20px;
  margin-right : 10px;
  padding : 2%;
}
.registeredService button {
    height : 20px;
    width : 15px;
    color : red;
    border : none;
    font-weight :700;
    font-size : 17px;
    margin-right :3px;
    background-color: transparent;
    
}

.serviceSection {
 
  padding:2%;
  width : 100%;
}

.serviceHeading h2  {
  margin-bottom : 0;
  padding-bottom : 0;
}

.serviceHeading p {
  margin-top : 5px;
  margin-bottom : 0;
}


.serviceFiltering  input{
   width :400px;
   margin-top : 10px;
   height : 40px;
   border-radius : 5px;
   font-size :16px;
}

.servicePlaceholder,.eachServiceComponent {
  background-color: lightcoral;
  margin-top :15px;
  display : flex;
  padding-left :5px;
}

.servicePlaceholder div {
  min-width: calc(100%/6);

}

.eachServices {
  display : flex;
  flex-direction: column;
  align-items: center;
  padding-left :5px;
}

.eachServiceComponent {
margin-top:0;
width : 100%;
background-color : snow;
border-bottom : 1px solid grey;

}

.eachServiceComponent p {
   min-width: calc(100%/6);

}

.serviceDetail {
 
  padding-left :2%;
  width : 100%;
  margin-top:4%;
}

.serviceDetail .back {
  border-radius : 10px;
  height :30px;
  width : 70px;
}
.eachServiceComponent button {
  background-color: transparent;
  border : none;
  width : 60px;
  height :60px;
  border-radius : 50%;
}

.eachParamsHeading, .eachParams {
  display : flex;
  align-items : center;
  padding-left :3%;
}

.eachParams {
  background-color :snow;
  border-bottom : 1px solid grey;
}

.eachParamsHeading div, .eachParams p {
  width : calc(100%/6)
}

.eachParams button {
  margin-right : 5px;
}

.editButton i {
  color : lightcoral
}
.editButton, .deleteButton {
  border-radius : 50%;
  height : 30px;
  width : 30px;
  border : 1px solid lightcoral;
}

.deleteButton i {
  color : red;
}

.deleteButton {
  border : 1px solid red;
}
.testParameter {
  
   background-color :lightcoral;
 
}




